[project]
name = "server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "dotenv>=0.9.9",
    "fastapi>=0.128.0",
    "httpx>=0.28.1",
    "openai-agents>=0.6.4",
    "python-dotenv>=1.2.1",
    "uvicorn>=0.40.0",
]
